<div class="list-group-item">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{ item.company }}</h5>
    <small class="text-muted">Dostawa: {{ item.deliveryTime }}</small>
  </div>
  <p class="mb-1">{{ item.address }}</p>
  <small class="text-muted">Lunching spot: {{ item.name }}</small>
</div>
