<div style="text-align:center">
  <h1>
    Lunch Application
  </h1>
</div>
<nav class="nav nav-tabs nav-fill">
  <a class="nav-item nav-link" routerLink="/wait" routerLinkActive="active">Oczekujące</a>
  <a class="nav-item nav-link" routerLink="/close" routerLinkActive="active">Dostarczone</a>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
